{% extends 'base.html.twig' %}

{% block title %}Admin - Anime{% endblock %}

{% block body %}

<h1 class="text-3xl text-white text-center font-bold uppercase mt-5">Administration des Animés </h1>
<div class="flex flex-col bg-purple-700 rounded-md w-40 justify-center mx-auto m-3 p-1 hover:bg-purple-500 transition duration-500">
<a href="{{path('admin_anime_ajout')}}" class="text-lg text-white text-center">Ajouter un anime</a>
</div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg m-8">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-purple-700 dark:bg-purple-700 dark:text-white">
          <tr>
              <th scope="col" class="px-6 py-3">
                  ID
              </th>
              <th scope="col" class="px-6 py-3">
                  Nom de l'Anime
              </th>
              <th scope="col" class="px-6 py-3">
                  Type
              </th>
              <th scope="col" class="px-6 py-3">
                  Catégorie
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
        {% for anime in lesAnimes %} 
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ anime.id }}
              </th>
              <td class="px-6 py-4">
                {{ anime.nom }}
              </td>
              <td class="px-6 py-4">
                {{ anime.type }}
              </td>
              <td class="px-6 py-4">
                  $2999
              </td>
              <td class="px-6 py-4">
                  <a href="{{path('admin_anime_modif', {'id': anime.id})}}" class="font-medium text-blue-600 dark:text-purple-700 hover:underline">Modifier</a>
                  <a href="{{path('admin_anime_supp', {'id': anime.id})}}" class="font-medium text-blue-600 dark:text-purple-600 hover:underline">Supprimer</a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

  

{% endblock %}
